:root{
    --speed : 5;
}




.machine{
    background-color: crimson;
    width: 900px;
    height: 300px;
    border: dotted black 3px;
    margin: 50px;
    display: flex;
}

#inpSpeed{
font-size: 30pt;
margin-left: 30px;
width: 50px;
}

.slot{
    height: 250px;
    width: 250px;
    margin: 20px;
    background-color: cornsilk;
    border: solid black 3px;
    text-align: center;
    font-size: 90pt;
    line-height: 250px;
    overflow: hidden;
    z-index: 1;
    

}

.slot > .value {
    z-index: 3;
    animation-name: slotspin ;
    animation-iteration-count: infinite;
    animation-duration: calc(1s/ var(--speed));
}

@keyframes slotspin{
    0%{
            transform: translateY(-200px);
    }
    100%{
        transform: translateY(200px);
    }
}
